<h1 align="center">Editing Resource-Category Parameter</h1>
 
 <%= form_for :article, url: article_path(@article), method: :patch do |f| %>

   <br/> 
  
   <%= @country_hash.each do |key,value| %> 
    <%= radio_button_tag 'country', key, value %>
    <%= label_tag key %><br/>
   <% end %> 

     
   <br/>
   <%= @resource_hash.each do |key,value| %>
    <%= radio_button_tag 'resourcename', key, value %>
    <%= label_tag key %><br/>
   <% end %>

   <br/>  
   <%= @category_hash.each do |key,value| %> 
    <%= check_box_tag key, key, value %> 
    <%= label_tag key %><br/>
   <% end %> 

   <p>
    <%=f.submit "Save" %>
   </p>   
   
 <%end%>   
 <%= link_to 'Back', articles_path %>
