<h1>Add  New Config Parameter</h1>

<%= form_tag(articles_path, method: "post") do %>

    <br/>
   
    <% @country_list.each do |country| %>
        <%= radio_button_tag(:country, country.countryname) %>
        <%= label_tag(:country, country.countryname) %>
        <%= link_to 'Edit', articles_edit_country_path(country) %><br/>
    <% end %>

 
    <br/><br/><br/>
    <% @resource_list.each do |resource| %>
        <%= radio_button_tag(:resourcename, resource.resourcename) %>
        <%= label_tag(:resourcename, resource.resourcename) %><br/>
    <% end %>    

   
    <br/><br/><br/>
    <% @category_list.each do |category| %>
        <%= check_box_tag(category.categoryname, value = category.categoryname) %>
        <%= label_tag(:category, category.categoryname) %><br/>
    <% end %>
 
    <%= submit_tag("Submit") %>

<%end%>
<%= link_to 'Back', articles_path%>
<%= link_to 'Add Country', articles_country_path%>
<%= link_to 'Add Resource', articles_resource_path%>
<%= link_to 'Add Category', articles_category_path%>

