<h1 align='center'>Add New Resource-Category Parameter</h1>

<%= form_tag(articles_path, method: "post") do %>

    <br/>
    <h3>Countries</h3> 
    <% @country_list.each do |country| %>
        <%= radio_button_tag(:country, country.countryname) %>
        <%= label_tag(:country, country.countryname) %>
        <%= link_to 'Delete', articles_delete_country_path(country), data: {confirm: 'Are you sure?'}%><br/>
    <% end %>

 
    <br/>
    <h3>Resources</h3>
    <% @resource_list.each do |resource| %>
        <%= radio_button_tag(:resourcename, resource.resourcename) %>
        <%= label_tag(:resourcename, resource.resourcename) %>
        <%= link_to 'Delete', articles_delete_resource_path(resource), data: {confirm: 'Are you sure?'}%><br/>
    <% end %>    

   
    <br/>
    <h3>Categories</h3>
    <% @category_list.each do |category| %>
        <%= check_box_tag(category.categoryname, value = category.categoryname) %>
        <%= label_tag(:category, category.categoryname) %>
        <%= link_to 'Delete', articles_delete_category_path(category), data: {confirm: 'Are you sure?'}%><br/>
    <% end %><br/>
 
    <%= submit_tag("Submit") %>

<%end%>
<br/><%= link_to 'Back', articles_path%>
<br/><%= link_to 'Add Country', articles_country_path%>
<br/><%= link_to 'Add Resource', articles_resource_path%>
<br/><%= link_to 'Add Category', articles_category_path%>

