<h1 align="center">Generic TicketAllocator  Parameters</h1>

<table>
   <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
   </tr>

   <% @articletwos.each do |article| %>
        <tr>
            <td><%= article.key %></td>
            <td><%= article.value %></td>
            <td><%= link_to 'Show', articletwo_path(article)%></td>
            <td><%= link_to 'Edit', edit_articletwo_path(article)%></td>
            <td><%= link_to 'Delete', articletwo_path(article),method: :delete, data: {confirm: 'Are you sure?'} %></td>  
        </tr>
   <% end %>
</table>

<br/><%= link_to 'View Resource-Category Parameters', articles_path %>
<br/><%= link_to 'Add new generic parameter', new_articletwo_path %>

